@charset "UTF-8";
/*===============================================================
 *  CMNCSS
 ===============================================================*/
/* 全体 */
* {
/* TODO: フォントと色を指定する */
/*  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
 color: #382825; */
}

/* 背景全体の色 */
body {
 margin: 0;
}

/* コンテナ部分 */
.container {
 background: #fffaaa;
 width: 100vw;
 max-width: 414px;
 height: 100vh;
 max-height: 896px;
 margin-right: auto;
 margin-left: auto;
}

/* ボタンスタイル */
.btn {
 width: 60px;
 height: 30px;
 background: #ffb6c1;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 color: #ffffff;
}