@charset "UTF-8";
/*===============================================================
 *  相方表示画面CSS
 ===============================================================*/
/* ロゴ・検索エリア */
section.container div.recom-area {
 padding: 5px 0;
}

/* ロゴ部分 */
section.container div.logo img {
 width: 100%;
}

/* 吹き出しエリア*/
div.fuki-area {
    display: flex;
    width: 260px;
    height: 16%;
    position: fixed;
    left: 12%;
    bottom: 13%;
}
div.fuki-back {
background-image: url(/happychoice/resources/img/hc_fukidashi.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    float: left;
}

/*キャラの配置*/
div.chara-position{
    width: 130px;
    height: 130px;
    position: fixed;
    bottom: 13%;
    right: 8%;
}

/* 吹き出しエリア */
div.top-area div.fuki-area {
 display: flex;
 width: 290px;
 margin: 0 auto;
}

div.fuki-area div.fuki-back {
 background-image: url('/happychoice/resources/img/hc_fukidashi.png');
 height: 90px;
 width: 200px;
 background-size: cover;
}

/*ボタンの配置*/
div.btnLeft{
    text-align: left;
    float: left;
}
div.btnRight{
    text-align: right;
    float:right;
}

div.backButton {
 width: 60px;
 height: 30px;
 background: #ffb6c1;
 position: fixed;
 left: 10%;
 bottom: -webkit-calc(100% - 100vh + 20px);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 color: #ffffff;
}

div.topButton {
 width: 60px;
 height: 30px;
 background: #ffb6c1;
 position: fixed;
 right: 10%;
 bottom: -webkit-calc(100% - 100vh + 20px);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 color: #ffffff;
}

/* アイコン部分 */
table.foodtype-tbl {
 width: 95%;
 margin: 0 auto;
 table-layout: fixed;
}

table.foodtype-tbl tr {
 width: 100%;
}

table.foodtype-tbl tr td {
 width: 33%;
}

table.foodtype-tbl tr td div.foodtype-icn img {
 width: 100%;
}
