@charset "UTF-8";
/*===============================================================
 *  トップ画面CSS
 ===============================================================*/
/* ロゴ・検索エリア */
section.container div.topArea{
 padding: 30px 0 30px 0;
}

/* ロゴ部分 */
section.container div.logo img{
 width: 100%;
}

/* 検索部分 */
section.container div.search {
 text-align: center;
}
section.container div.search .topSearchText {
}

/* アイコン部分 */
table.foodtbl {
 width: 100%;
 table-layout: fixed;
}

table.foodtbl tr {
 width: 100%;
}

table.foodtbl tr td {
 width: 33%;
}

table.foodtbl tr td div.foodicn img {
 width: 100%;
}

/* モーダル */
.modal {
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 z-index: 9999;
 opacity: 0;
 visibility: hidden;
 transition: .6s;
}

.modal.is-show {
 opacity: 1;
 visibility: visible;
}

.modal-inner {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 width: 60%;
 height: 120px;
 max-width: 360px;
 text-align: center;
 background-color: #fff;
 z-index: 2;
 border-radius: 10px;
}

.close-btn {
 line-height: 50px;
 text-align: center;
 cursor: pointer;
}

.black-background {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,.8);
 z-index: 1;
 cursor: pointer;
}

.modal-pa {
 padding-top: 25px;
}